<div class="container">

  <h3 class="mb-4 fw-bold">Explore Packages </h3>

  <div class="card p-3 mb-4 shadow-sm">

  <div class="row g-3 align-items-end">

    <!-- Location -->
    <div class="col-md-3">
      <label class="form-label">Location</label>
        <input type="text"
             class="form-control"
             [(ngModel)]="filters.location">
    </div>
        

    <!-- Min Price -->
    <div class="col-md-3">
      <label class="form-label">Min Price</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="filters.minPrice">
    </div>

    <!-- Max Price -->
    <div class="col-md-3">
      <label class="form-label">Max Price</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="filters.maxPrice">
    </div>

    <!-- Buttons -->
    <div class="col-md-3 d-flex gap-2">

      <button class="btn btn-primary w-100"
              (click)="applyFilter()">
        Search
      </button>

      <button class="btn btn-outline-secondary w-100"
              (click)="resetFilter()">
        Reset
      </button>

    </div>

  </div>

</div>

  <div class="row">

    <div class="col-md-4 col-sm-6 mb-4"
         *ngFor="let p of packages">

      <div class="card h-100 shadow-sm border-0">

        <!-- Image -->
        <img [src]="p.imageUrl"
             class="card-img-top"
             style="height: 200px; object-fit: cover;">

        <!-- Body -->
        <div class="card-body">

          <h5 class="card-title fw-semibold">
            {{ p.title }}
          </h5>

          <p class="text-muted mb-2">
            📍 {{ p.location }}
          </p>

          <p class="fw-bold text-success">
            ₹ {{ p.price }}
          </p>

        </div>

        <!-- Footer -->
        <div class="card-footer bg-white border-0">

          <a [routerLink]="['/package-detail', p.id]"
             class="btn btn-primary w-100">
            View Details
          </a>

        </div>

      </div>

    </div>

  </div>

</div>